<div [formGroup]="form">
  <label [attr.for]="formItem.key">{{formItem.label}}</label>
  <div [ngSwitch]="formItem.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="formItem.key"
           [id]="formItem.key" [type]="formItem.type">

    <select [id]="formItem.key" *ngSwitchCase="'dropdown'" [formControlName]="formItem.key">
      <option *ngFor="let opt of formItem.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{formItem.label}} is required</div>
</div>
