<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <div class="modal-title">{{title || 'confirm'}}</div>
      <button type="button" class="close" (click)="close()" >&times;</button>
    </div>

    <div class="modal-body">
      <table>
        <tbody>
        <tr>
          <th>用户编号</th>
          <td>{{user.userName}}</td>
          <th>用户名称</th>
          <td>{{user.fullName}}</td>
        </tr>
        <tr>
          <th>用户组</th>
          <td>{{user.group}}</td>
          <th>用户描述</th>
          <td>{{user.desc}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
