<!--Bootstrap导航条-->
<nav class="navbar navbar-inverse navbar-fixed">
  <!--导航条内容容器-->
  <div class="container">
    <!--导航条头部-->
    <div class="navbar-header">
      <button class="navbar-toggle btn" data-toggle="collapse" data-target="#navbar-collapse-menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--//商标/Logo-->
      <a class="navbar-brand" href="javascript:void(0)">在线竞拍</a>
    </div>
    <!--/导航条头部-->
    <!--导航条列表菜单-->
    <div class="collapse navbar-collapse" id="navbar-collapse-menu">
      <ul class="nav navbar-nav">
        <li><a routerLink="/auction/home">首页</a></li>
        <li><a routerLink="/auction/sell/product-list">专场拍卖</a></li>
        <li><a routerLink="/auction/question">问卷调查</a></li>
        <li><a routerLink="/auction/backstage/user-manage">后台管理</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!isLogin()">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="/auction/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="isLogin()">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
        <li><a (click)="loginOut()"><span class="glyphicon glyphicon-log-out"></span> LoginOut</a></li>
      </ul>
    </div>
    <!--/导航条列表菜单-->
  </div>
  <!--/导航条内容容器-->
</nav>
<!--/Bootstrap导航条-->
