<div class="user-list">
  <div class="control-group">
    <label class="control-label">用户号</label>
    <input type="text" class="form-control" maxlength="20"
           name="userName" [(ngModel)]="userName">
  </div>
  <div class="control-group">
    <label class="control-label">用户名</label>
    <input type="text" class="form-control" maxlength="20"
           name="fullName" [(ngModel)]="fullName">
  </div>
  <div class="control-group">
    <button class="btn btn-primary" (click)="search()">查询</button>
  </div>
  <div class="control-group">
    <button class="btn btn-primary" (click)="reset()">重置</button>
  </div>
  <table class="table table-hover with-operation">
    <thead class="table-header">
    <tr>
      <th>用户号</th>

      <th>用户名</th>

      <th>用户组</th>

      <th>用户描述</th>

      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.userName}}</td>
      <td>{{user.fullName}}</td>
      <td>{{user.group}}</td>
      <td>{{user.desc}}</td>
      <td class="operation-col-md">
        <div class="btn-group dropdown">
          <button class="btn btn-primary" (click)="detail()">详情</button>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a tabindex="-1">修改</a></li>
            <li><a tabindex="-1">删除</a></li>
          </ul>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="user-pagination">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>

</div>
