aside > ul > li:first-child {
  border-top: 1px solid gainsboro;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

aside > ul > li {
  font-size: 16px;
  border-bottom: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
}

aside > ul > li:last-child{
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

aside .item-name {
  margin-left: 30px;
  line-height: 50px;
}

aside .nav-item-content:hover {
  color: #ed312f;
}


aside .child-nav-item.active {
  color: #ed312f;
  font-weight: bold;
}

aside .nav-item.active {
  color: #f4f4f4;
  background-color: #337ab7;
  font-weight: bold;
}
